{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!--Main Slider Start-->
        <section class="main-slider" id="home">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                "pagination": {
                    "el": "#main-slider-pagination",
                    "type": "bullets",
                    "clickable": true
                    },
                "navigation": {
                    "nextEl": "#main-slider__swiper-button-next",
                    "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                    "delay": 5000
                }}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url({% static 'images/backgrounds/Slider-1.webp' %});">
                        </div>
                        <!-- /.image-layer -->
                        <div class="main-slider-border"></div>
                        <div class="main-slider-border main-slider-border-two"></div>
                        <div class="main-slider-border main-slider-border-three"></div>
                        <div class="main-slider-border main-slider-border-four"></div>
                        <div class="main-slider-border main-slider-border-five"></div>
                        <div class="main-slider-border main-slider-border-six"></div>
                        
                        <div class="main-slider-shape-1"></div>
                        <div class="main-slider-shape-2"></div>
                        <div class="main-slider-shape-3"></div>

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-slider__content">
                                        <br>
                                        <p>Welcome to Wedda Marketing Agency</p>
                                        <h2>Make Your Business <br>Reach The Stars</h2>
                                        <a href="#about" class="thm-btn">Discover More</a>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url({% static 'images/backgrounds/Slider-2.webp' %});">
                        </div>
                        <!-- /.image-layer -->
                        <div class="main-slider-border"></div>
                        <div class="main-slider-border main-slider-border-two"></div>
                        <div class="main-slider-border main-slider-border-three"></div>
                        <div class="main-slider-border main-slider-border-four"></div>
                        <div class="main-slider-border main-slider-border-five"></div>
                        <div class="main-slider-border main-slider-border-six"></div>

                        <div class="main-slider-shape-1"></div>
                        <div class="main-slider-shape-2"></div>
                        <div class="main-slider-shape-3"></div>

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-slider__content">
                                        <br>
                                        <p>Transforming Ideas into Stellar Brands.</p>
                                        <h2>Ready for Lift-Off? <br> Let's Go!</h2>
                                        <a href="#about" class="thm-btn">Discover More</a>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url({% static 'images/backgrounds/Slider-3.webp' %});">
                        </div>
                        <!-- /.image-layer -->
                        <div class="main-slider-border"></div>
                        <div class="main-slider-border main-slider-border-two"></div>
                        <div class="main-slider-border main-slider-border-three"></div>
                        <div class="main-slider-border main-slider-border-four"></div>
                        <div class="main-slider-border main-slider-border-five"></div>
                        <div class="main-slider-border main-slider-border-six"></div>

                        <div class="main-slider-shape-1"></div>
                        <div class="main-slider-shape-2"></div>
                        <div class="main-slider-shape-3"></div>

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-slider__content">
                                        <br>
                                        <p>Marketing That Makes Your Brand Flourish.</p>
                                        <h2>Nurturing Your Brand's <br> Full Bloom.</h2>
                                        <a href="#about" class="thm-btn">Discover More</a>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-pagination" id="main-slider-pagination"></div>
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <i class="icon-right-arrow icon-left-arrow"></i>Prev
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        Next <i class="icon-right-arrow"></i>
                    </div>
                </div>
            </div>
        </section>
        <!--Main Slider End-->
        {% if messages %}
        <div class="aha" >
            <style>
                .aha{
                    display: block;
                    position: fixed;
                    z-index: 999;
                    top: 15%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            </style>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="success-alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
            

        <!--Get To Know Start-->
        <section class="get-to-know" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="get-to-know__left wow slideInLeft" data-wow-delay="100ms"
                            data-wow-duration="2500ms">
                            <div class="get-to-know__img">
                                <img src="{% static 'images/resources/bro.png' %}" alt="">
                                {% comment %} <div class="get-to-know__video-link">
                                    <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
                                        <div class="get-to-know__video-icon">
                                            <span class="icon-play-button"></span>
                                        </div>
                                    </a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="get-to-know__right">
                            <div class="get-to-know-big-text">WEDDA</div>  
                            <div class="section-title text-left">
                                <span class="section-title__tagline">get to know us</span>
                                <h2 class="section-title__title">We’re ready to grow your business with us</h2>
                            </div>
                            <p class="get-to-know__text-1">We’re committed to delivering the best digital marketing for
                                your businesses</p>
                            <p class="get-to-know__text-2">We don't just market your brand; we become your brand's storyteller. 
                                We weave captivating narratives that resonate with
                                your audience and leave a lasting impression.</p>
                            <div class="get-to-know__progress">
                                <div class="get-to-know__progress-single">
                                    <h4 class="get-to-know__progress-title">Digital marketing</h4>
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="80%">
                                            <div class="count-text">80%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="get-to-know__person">
                                <div class="get-to-know__person-img">
                                    <img src="{% static 'images/resources/profile.jpeg' %}" alt="" width="77">
                                </div>
                                <div class="get-to-know__person-content">
                                    <h2 class="get-to-know__person-name">Mahmoud Mamdouh</h2>
                                    <p class="get-to-know__person-founder">CEO & co Founder</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Get To Know End-->

        <!--Brand One Start-->
        <section class="brand-one">
            <div class="container">
                <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 2500 }, "breakpoints": {
                    "0": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "375": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "575": {
                        "spaceBetween": 30,
                        "slidesPerView": 3
                    },
                    "767": {
                        "spaceBetween": 50,
                        "slidesPerView": 4
                    },
                    "991": {
                        "spaceBetween": 50,
                        "slidesPerView": 5
                    },
                    "1199": {
                        "spaceBetween": 100,
                        "slidesPerView": 5
                    }
                }}'>
                    <div class="swiper-wrapper" style="align-items: center;">
                        <div class="swiper-slide">
                            <img src="{% static 'images/brand/brand_0.png' %}" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'images/brand/brand_1.webp' %}" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'images/brand/brand_2.png' %}" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'images/brand/brand_3.png' %}" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'images/brand/brand_4.png' %}" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="{% static 'images/brand/brand_5.png' %}" alt="">
                        </div><!-- /.swiper-slide -->
                    </div>
                </div>
            </div>
        </section>
        <!--Brand One End-->

        <!--Start Services Three-->
        <section class="services-three">
            <div class="services-three__bg wow slideInDown" data-wow-delay="10ms" data-wow-duration="250ms"></div>
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">our services list</span>
                    <h2 class="section-title__title">What we’re offering</h2>
                </div>
                <div class="row">
                    {% for element in services %}
                    <!--Start Services Three Single-->
                    <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="{% cycle '0' '200' '400' %}ms">
                        <div class="services-three__single">
                            <div class="services-three__single-img">
                                <div class="services-three__single-img-inner">
                                    <img src="{{ element.img.url }}" alt="" />
                                </div>
                                <div class="services-three__icon">
                                    <span class="icon-online-shopping"></span>
                                </div>
                            </div>
                            <div class="services-three__single-content">
                                <h2 class="services-three__title text-break"><a href="{% url 'single_service' element.id %}">{{ element.name }}</a></h2>
                                        <p class="services-three__text text-break">
                                            {{ element.excerpt|truncatechars:81 }}
                                        </p>
                                <a class="services-three__arrow" href="{% url 'single_service' element.id %}"><span
                                        class="icon-right-arrow"></span></a>
                                    </div>
                        </div>
                    </div>
                    <!--End Services Three Single-->
                    {% endfor %}
            </div>
        </section>
        <!--End Services Three--> 
        {% comment %} {% include 'main/includes/services.html' with services=services %} {% endcomment %}

        <!--Project One Start-->
        <section class="project-one" id="showcase">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">recent projects</span>
                    <h2 class="section-title__title">work showcase</h2>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <ul class="project-filter style1 post-filter has-dynamic-filters-counter list-unstyled">
                            <li data-filter=".filter-item" class="active"><span class="filter-text">All</span></li>
                            <li data-filter=".bra"><span class="filter-text">Branding</span></li>
                            <li data-filter=".photo"><span class="filter-text">Photography</span></li>
                            <li data-filter=".market"><span class="filter-text">Marketing</span></li>
                            <li data-filter=".web"><span class="filter-text">Web Design</span></li>
                        </ul>
                    </div>
                </div>
                <div class="row filter-layout masonary-layout">
                    {% comment %} <div class="col-xl-3 col-lg-6 col-md-6 filter-item market photo">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/pizza.jpeg' %}" alt="">
                                <div class="project-one__hover project-one__hover-pl-40">
                                    <p class="project-one__tagline">Graphic</p>
                                    <h3 class="project-one__title"><a href="#">Pizza Land</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 filter-item market photo">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/hulk.jpeg' %}" alt="">
                                <div class="project-one__hover">
                                    <p class="project-one__tagline">Marketing</p>
                                    <h3 class="project-one__title"><a href="#">Hulk Gym</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 filter-item bra market photo">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/3akarat.jpeg' %}" alt="">
                                <div class="project-one__hover project-one__hover-pl-40">
                                    <p class="project-one__tagline">Graphic</p>
                                    <h3 class="project-one__title"><a href="#">قهـــوة العقـارات</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 filter-item bra photo web">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/ksa.jpeg' %}" alt="">
                                <div class="project-one__hover project-one__hover-pl-40">
                                    <p class="project-one__tagline">Branding</p>
                                    <h3 class="project-one__title"><a href="#">KSA Industries</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 filter-item bra web photo market">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/Rigel.jpeg' %}" alt="">
                                <div class="project-one__hover project-one__hover-pl-40">
                                    <p class="project-one__tagline">Branding</p>
                                    <h3 class="project-one__title"><a href="#">Rigel Store</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 filter-item market">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/Hoor.jpeg' %}" alt="">
                                <div class="project-one__hover project-one__hover-pl-40">
                                    <p class="project-one__tagline">Marketing</p>
                                    <h3 class="project-one__title"><a href="#">Hoor Clothing</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 filter-item market web">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/glow_girl.jpeg' %}" alt="">
                                <div class="project-one__hover project-one__hover-pl-40">
                                    <p class="project-one__tagline">Web Design</p>
                                    <h3 class="project-one__title"><a href="#">Glow Girl Clinic</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 filter-item photo">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/diga.jpeg' %}" alt="">
                                <div class="project-one__hover">
                                    <p class="project-one__tagline">Market</p>
                                    <h3 class="project-one__title"><a href="#">Diga Clothing</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 filter-item market">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/oro_hair.jpeg' %}" alt="">
                                <div class="project-one__hover project-one__hover-pl-40">
                                    <p class="project-one__tagline">Marketing</p>
                                    <h3 class="project-one__title"><a href="#">Oro Hair</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 filter-item market">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/oro_clinic.jpeg' %}" alt="">
                                <div class="project-one__hover project-one__hover-pl-40">
                                    <p class="project-one__tagline">Marketing</p>
                                    <h3 class="project-one__title"><a href="#">Oro Clinic</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 filter-item market">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/Discrete.jpeg' %}" alt="">
                                <div class="project-one__hover project-one__hover-pl-40">
                                    <p class="project-one__tagline">Marketing</p>
                                    <h3 class="project-one__title"><a href="#">Discrete</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 filter-item market">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/icon_prince.jpeg' %}" alt="">
                                <div class="project-one__hover project-one__hover-pl-40">
                                    <p class="project-one__tagline">Marketing</p>
                                    <h3 class="project-one__title"><a href="#">Swiss Icon Princess</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 filter-item market">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/icon_clinic.jpeg' %}" alt="">
                                <div class="project-one__hover project-one__hover-pl-40">
                                    <p class="project-one__tagline">Marketing</p>
                                    <h3 class="project-one__title"><a href="#">Swiss Icon Clinic</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 filter-item market">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/complete.jpeg' %}" alt="">
                                <div class="project-one__hover project-one__hover-pl-40">
                                    <p class="project-one__tagline">Marketing</p>
                                    <h3 class="project-one__title"><a href="#">Complete Home Development</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 filter-item market">
                        <!--Portfolio One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="{% static 'images/showcase/tooth.jpeg' %}" alt="">
                                <div class="project-one__hover project-one__hover-pl-40">
                                    <p class="project-one__tagline">Marketing</p>
                                    <h3 class="project-one__title"><a href="#">العيادة التخصصية للأسنان</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    {% for project in projects %}
                        <div class="col-xl-4 col-lg-6 col-md-6 filter-item {{ project.category.slug }} {% for tag in project.tags.all %} {{ tag.slug }} {% endfor %}">
                            <!--Portfolio One Single-->
                            <div class="project-one__single">
                                <div class="project-one__img">
                                    <img src="{{ project.thumb.url }}" alt="">
                                    <div class="project-one__hover">
                                        <p class="project-one__tagline">{{ project.category.name|title }}</p>
                                        <h3 class="project-one__title"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--Project One End-->

        <!--Counter One Start-->
        <section class="counter-one">
            <div class="counter-one-shape-1"></div>
            <div class="counter-one-shape-2"></div>
            <div class="counter-one-shape-3"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <ul class="list-unstyled counter-one__list">
                            <li class="counter-one__single wow fadeInUp" data-wow-delay="500ms">
                                <div class="counter-one__icon">
                                    <span class="icon-checking"></span>
                                </div>
                                <h3 class="odometer" data-count="20">00</h3>
                                <p class="counter-one__text">Projects Completed</p>
                            </li>
                            <li class="counter-one__single wow fadeInUp" data-wow-delay="750ms">
                                <div class="counter-one__icon">
                                    <span class="icon-recommend"></span>
                                </div>
                                <h3 class="odometer" data-count="30">00</h3>
                                <p class="counter-one__text">Satisfied Clients</p>
                            </li>
                            <li class="counter-one__single wow fadeInUp" data-wow-delay="1000ms">
                                <div class="counter-one__icon">
                                    <span class="icon-consulting"></span>
                                </div>
                                <h3 class="odometer" data-count="12">00</h3>
                                <p class="counter-one__text">Expert Teams</p>
                            </li>
                            <li class="counter-one__single wow fadeInUp" data-wow-delay="1250ms">
                                <div class="counter-one__icon">
                                    <span class="icon-increment"></span>
                                </div>
                                <h3 class="odometer" data-count="19">00</h3>
                                <p class="counter-one__text">repeat customers</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Counter One End-->

        <!--Why Choose One Start-->
        <section class="why-choose-one mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="why-choose-one__left wow fadeInLeft" data-wow-delay="100ms"
                            data-wow-duration="2500ms">
                            <div class="why-choose-one__img">
                                <img src="{% static 'images/resources/pana.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="why-choose-one__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">company benefits</span>
                                <h2 class="section-title__title">Why You should choose wedda services?</h2>
                            </div>
                            <p class="why-choose-one__text">Choose wedda for innovative marketing solutions. Our experienced team delivers tailored strategies that exceed your expectations and drive business growth.</p>
                            <div class="why-choose-one__bottom">
                                {% comment %} <div class="why-choose-one__bottom-img">
                                     <img src="{% static 'images/resources/pana.png' %}" alt="" style="width:100%"> 
                                </div> {% endcomment %}
                                <ul class="list-unstyled why-choose-one__points">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-draw-check-mark"></span>
                                        </div>
                                        <div class="text">
                                            <p>Data-Driven Success</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-draw-check-mark"></span>
                                        </div>
                                        <div class="text">
                                            <p>Creative & Engaging Content</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-draw-check-mark"></span>
                                        </div>
                                        <div class="text">
                                            <p>Personalized Solutions</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-draw-check-mark"></span>
                                        </div>
                                        <div class="text">
                                            <p>Industry Expertise</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Why Choose One End-->


        <!--Testimonial One Start-->
        <section class="testimonial-one" id="testimonial">
            <div class="testimonial-one__inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="testimonial-one__left">
                                <div class="section-title text-left">
                                    <span class="section-title__tagline">customer feedbacks</span>
                                    <h2 class="section-title__title">what they’re saying about<br> Us?</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-one__right">
                    <div class="testimonial-one__carousel owl-theme owl-carousel">
                        <!--Testimonial One Single-->
                        {% for testimonial in testimonials %}
                        <!--Testimonial One Single-->
                        <div class="testimonial-one__single">
                            <p class="testimonial-one__text" dir="rtl">
                                {{ testimonial.text}}
                            </p>
                            <div class="testimonial-one__client-info">
                                <div class="testimonial-one__client-img">
                                    <img src="{{ testimonial.image.url }}" alt="">
                                    <div class="testimonial-one__quote">
                                        <img src="{% static 'images/testimonial/testimonial-one-quote.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-one__client-details">
                                    <h4 class="testimonial-one__client-name">{{ testimonial.name }}</h4>
                                    <p class="testimonial-one__client-title">{{ testimonial.position}}</p>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial One Single End-->
                        {% endfor %}
                    </div>
                </div>

                <div class="owl-theme">
                    <div class="owl-controls">
                        <div class="custom-nav owl-nav"></div>
                    </div>
                </div>

            </div>
        </section>
        <!--Testimonial One End-->

        <!--Wedda Ready Start-->
        <section class="qutiiz-ready">
            <div class="qutiiz-ready-bg-box">
                <div class="qutiiz-ready-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
                    style="background-image: url('https://images.pexels.com/photos/5716032/pexels-photo-5716032.jpeg?cs=srgb&dl=pexels-artempodrez-5716032.jpg&fm=jpg&h=1065&w=1894&fit=crop')"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12" style="z-index:9;">
                        <div class="cta-one__inner wow fadeInUp" data-wow-delay="100ms" data-wow-duration="2500ms">
                            <div class="cta-one-shape-1"></div>
                            <div class="cta-one-shape-2"></div>
                            <div class="cta-one-shape-3"></div>
                            <div class="cta-one__left">
                                <h2 class="cta-one__title">the passion trying & skill can make <br> a top-performing
                                    company</h2>
                            </div>
                            <div class="cta-one__right">
                                <a aria-label="Chat on WhatsApp" href="https://wa.me/201115424261" class="img-fluid"><img src="{% static 'images/WhatsAppButtonWhiteSmall.png' %}" alt="Whatsapp conatact"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Wedda Ready End-->
{% endblock content %}

{% block js_footer %}
<script>
    $(document).ready(function() {
        const jqAlert = $('#success-alert'); // Using jQuery selector
        console.log('Element found by jQuery:', jqAlert.length > 0 ? jqAlert[0] : 'Not Found');

        setTimeout(() => {
            console.log('Timeout triggered');
            jqAlert.alert('close');
            console.log('Alert close method called');
        }, 5000);
    });
</script>
{% endblock js_footer %}