{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!--Error Page Start-->
        <section class="error-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="error-page__inner">
                            <h2 class="error-page__title">404</h2>
                            <h3 class="error-page__tagline">Sorry We Can't Find That Page!</h3>
                            <p class="error-page__text">The page you are looking for was never here. <br> or It may have escaped.</p>
                            <form class="error-page__form">
                                <div class="error-page__form-input">
                                    <input type="search" placeholder="Search here">
                                    <button type="submit"><i class="icon-magnifying-glass"></i></button>
                                </div>
                            </form>
                            <a href="{% url 'index' %}" class="thm-btn error-page__btn">go back to home</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Error Page End-->
{% endblock content %}
